body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin: 0;
}
img {
    width: 200px;
  }
.head{
    background-color: white;
    color: #333;
    text-align: center;
    border-radius: 16px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.acct{
    background-color: white;
    color: #333;
    text-align: center;
    border-radius: 16px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.acct a {
    padding: 5px;
    color: #333;
    text-decoration: none;
    background-color: darkgray;
    border-radius: 5px;
    font-size: 15px;
    display: inline;
    
}
.about{
    background-color: white;
    color: #333;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.quiz{
    display: inline;
    padding: 5%;
}
.quiz ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.quiz li{
    display: inline;
}
.quiz a{
    padding: 5px;
    color: #333;
    text-decoration: none;
    background-color: darkgray;
    border-radius: 5px;
    font-size: 25px;
}